.contenedor-carrusel {
    height: 15em;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.carrusel-interior-personalizado {
    height: 100%;
    display: flex;
    align-items: center;
}

.imagen-carrusel {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(15%);
}

.control-carrusel-next-personalizado {
    width: auto;
    display: flex;
    align-items: center;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    filter: invert(70%);
}

.mensaje-sin-fotos {
    text-align: center;
    margin: 1rem 0;
}